@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;800;900&display=swap');

*{
font-family: 'tektur', serif;

}

html, body {

    height: 97.8vh;
    width: 99.25vw;
    background-image: url('imagens/fundo001.jpg');
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    
    
    }

    main {
        top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #050f4c;
    text-align: center;
    margin: 0;
    height: 230px;
    max-width: 280px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.712);
    
    }

main h2{
    padding-top: 15px;
    margin: auto;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 3px black;
}
main hr{
    width: 60%;
    margin-bottom: 15px;
}

div > a {
    color: white;
}

footer div a:hover {
    color: aquamarine;
}

input{
    font-size: 15px;
    margin-bottom: 15px;
}
 
footer{
position: absolute;
width: 100%;
background-color: #050a28;
bottom: 0;
color: white;
line-height: 45px;
height: 45px;
padding-left: 10px;
}