@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;800;900&display=swap');
*{
font-family: 'tektur', serif;

}

header{
    text-align: justify;
}
header > h1{
 text-align: center;
 background-color: #020a36;
 color: white;
 height: 70px;
 margin-top: 0px;
 padding-top: 25px;
 font-style: italic;
}

h2{
font-style: italic;
    color: white;
    text-shadow: 1px 1px 3px black;
}
hr{
    width: 60%;
    margin-bottom: 15px;
}

div > a {
    color: white;
}

div > a:hover {
    color: aquamarine;
}

body {

background-image: linear-gradient(to bottom, #3648B3,#1f2b6f, #020c43);
background-size: cover;
height: 800px ;
margin: 0px auto 0px;


}
input{
    font-size: 15px;
}
 
main {
   
    background-color: #050f4c;
    text-align: center;
    margin: 240px 250px;
    border-radius: 15px;
    padding: 10px 0px 20px
    

}

p{


}

footer{
background-color: #050a28;
color: white;
padding: 10px;
border-radius: 5px;
height: 55px;

}